@font-face {
	font-family: "Cormorant";
	font-style: normal;
	src: url("https://fonts.mckayla.cloud/Cormorant.woff2") format(woff2);
}

@font-face {
	font-family: "Outfit";
	font-style: normal;
	src: url("https://fonts.mckayla.cloud/Outfit.woff2") format(woff2);
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-*: initial;
	--font-title: "Cormorant", ui-serif, system-ui;
	--font-sans: "Outfit", ui-sans-serif, sans-serif;
}

@layer base {
	html,
	body {
		overscroll-behavior: none;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
